<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ChatAI Bot - Assistant</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChatAI Bot - Assistant</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.6838829297-8ltlh9cp1gr3ojr0ll6ufs58fu5klohn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iceo.aichat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iceo.aichat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb530536282528491</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>530536282528491</string>
	<key>FacebookClientToken</key>
	<string>b4381ea4b78bfdabb5f1a92548e3e148</string>
	<key>FacebookDisplayName</key>
	<string>ChatBotAI</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9764638132493814~1213308422</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) need to take a photo/video through the camera to post the image as a social asset for other users to see</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) need your location access to find someone</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) need access to the microphone to send audio messages</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) need to take a look at your photo album, to put the photo up as a social asset for other users to see</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) need to take a look at your photo album, to put the photo up as a social asset for other users to see</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This only uses device info for more interesting and relevant ads</string>
	<key>UIAppFonts</key>
	<array>
		<string>SVN-Outfit-Black.ttf</string>
		<string>SVN-Outfit-Bold.ttf</string>
		<string>SVN-Outfit-ExtraBold.ttf</string>
		<string>SVN-Outfit-ExtraLight.ttf</string>
		<string>SVN-Outfit-Light.ttf</string>
		<string>SVN-Outfit-Medium.ttf</string>
		<string>SVN-Outfit-Regular.ttf</string>
		<string>SVN-Outfit-SemiBold.ttf</string>
		<string>SVN-Outfit-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Grandstander-Black.ttf</string>
		<string>Grandstander-BlackItalic.ttf</string>
		<string>Grandstander-Bold.ttf</string>
		<string>Grandstander-BoldItalic.ttf</string>
		<string>Grandstander-ExtraBold.ttf</string>
		<string>Grandstander-ExtraBoldItalic.ttf</string>
		<string>Grandstander-ExtraLight.ttf</string>
		<string>Grandstander-ExtraLightItalic.ttf</string>
		<string>Grandstander-Italic.ttf</string>
		<string>Grandstander-Light.ttf</string>
		<string>Grandstander-LightItalic.ttf</string>
		<string>Grandstander-Medium.ttf</string>
		<string>Grandstander-MediumItalic.ttf</string>
		<string>Grandstander-Regular.ttf</string>
		<string>Grandstander-SemiBold.ttf</string>
		<string>Grandstander-SemiBoldItalic.ttf</string>
		<string>Grandstander-Thin.ttf</string>
		<string>Grandstander-ThinItalic.ttf</string>
		<string>Grenze-Black.ttf</string>
		<string>Grenze-BlackItalic.ttf</string>
		<string>Grenze-Bold.ttf</string>
		<string>Grenze-BoldItalic.ttf</string>
		<string>Grenze-ExtraBold.ttf</string>
		<string>Grenze-ExtraBoldItalic.ttf</string>
		<string>Grenze-ExtraLight.ttf</string>
		<string>Grenze-ExtraLightItalic.ttf</string>
		<string>Grenze-Italic.ttf</string>
		<string>Grenze-Light.ttf</string>
		<string>Grenze-LightItalic.ttf</string>
		<string>Grenze-Medium.ttf</string>
		<string>Grenze-MediumItalic.ttf</string>
		<string>Grenze-Regular.ttf</string>
		<string>Grenze-SemiBold.ttf</string>
		<string>Grenze-SemiBoldItalic.ttf</string>
		<string>Grenze-Thin.ttf</string>
		<string>Grenze-ThinItalic.ttf</string>
		<string>Labrada-Black.ttf</string>
		<string>Labrada-BlackItalic.ttf</string>
		<string>Labrada-Bold.ttf</string>
		<string>Labrada-BoldItalic.ttf</string>
		<string>Labrada-ExtraBold.ttf</string>
		<string>Labrada-ExtraBoldItalic.ttf</string>
		<string>Labrada-ExtraLight.ttf</string>
		<string>Labrada-ExtraLightItalic.ttf</string>
		<string>Labrada-Italic.ttf</string>
		<string>Labrada-Light.ttf</string>
		<string>Labrada-LightItalic.ttf</string>
		<string>Labrada-Medium.ttf</string>
		<string>Labrada-MediumItalic.ttf</string>
		<string>Labrada-Regular.ttf</string>
		<string>Labrada-SemiBold.ttf</string>
		<string>Labrada-SemiBoldItalic.ttf</string>
		<string>Labrada-Thin.ttf</string>
		<string>Labrada-ThinItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>MuseoModerno-Black.ttf</string>
		<string>MuseoModerno-BlackItalic.ttf</string>
		<string>MuseoModerno-Bold.ttf</string>
		<string>MuseoModerno-BoldItalic.ttf</string>
		<string>MuseoModerno-ExtraBold.ttf</string>
		<string>MuseoModerno-ExtraBoldItalic.ttf</string>
		<string>MuseoModerno-ExtraLight.ttf</string>
		<string>MuseoModerno-ExtraLightItalic.ttf</string>
		<string>MuseoModerno-Italic.ttf</string>
		<string>MuseoModerno-Light.ttf</string>
		<string>MuseoModerno-LightItalic.ttf</string>
		<string>MuseoModerno-Medium.ttf</string>
		<string>MuseoModerno-MediumItalic.ttf</string>
		<string>MuseoModerno-Regular.ttf</string>
		<string>MuseoModerno-SemiBold.ttf</string>
		<string>MuseoModerno-SemiBoldItalic.ttf</string>
		<string>MuseoModerno-Thin.ttf</string>
		<string>MuseoModerno-ThinItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Ysabeau-Black.ttf</string>
		<string>Ysabeau-BlackItalic.ttf</string>
		<string>Ysabeau-Bold.ttf</string>
		<string>Ysabeau-BoldItalic.ttf</string>
		<string>Ysabeau-ExtraBold.ttf</string>
		<string>Ysabeau-ExtraBoldItalic.ttf</string>
		<string>Ysabeau-ExtraLight.ttf</string>
		<string>Ysabeau-ExtraLightItalic.ttf</string>
		<string>Ysabeau-Italic.ttf</string>
		<string>Ysabeau-Light.ttf</string>
		<string>Ysabeau-LightItalic.ttf</string>
		<string>Ysabeau-Medium.ttf</string>
		<string>Ysabeau-MediumItalic.ttf</string>
		<string>Ysabeau-Regular.ttf</string>
		<string>Ysabeau-SemiBold.ttf</string>
		<string>Ysabeau-SemiBoldItalic.ttf</string>
		<string>Ysabeau-Thin.ttf</string>
		<string>Ysabeau-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
